<body>
    <popup-dialog #_popupDialog_L0></popup-dialog>
    <div style="overflow-x:auto;">
        <table >
            <!--<tr style="width:100%">-->
                <!--<title-bar (ToggleAutoRefresh)="ToggleAutoRefresh($event)" [_autoRefresh]="_autoRefresh"-->
                           <!--[_serverStatus]="_serverStatus" [_refreshState]="_refreshState"[_Data_Summary]="_Data_Summary"></title-bar>-->
            <!--</tr>-->
            <tr style="width:100%">
                <page-layout [_uiTab]="_uiTab" [_Data_Summary]="_Data_Summary" [_props]="_props" [_popupDialog_L1]="_popupDialog_L0"></page-layout>
            </tr>
        </table>
    </div>
</body>
